<h1>Realtime collaboration</h1>
<p>
	To enable realtime collaboration, you should first invite other users to your schema. You can do this from the <span class="menu">Schema</span> -> <span class="menu">Share</span> menu.
</p>
<p>
	When other users open your schema, you will see them on the collaboration panel.
</p>