<h3>CHANGE LOG</h3>
<br>
2015/11/09<br>
<ul>
	<li>Polish translation (thanks to Michał Szydłowski)</li>
</ul>
<br>
2015/10/27<br>
<ul>
	<li>Finnish translation (thanks to Unkulunkulu)</li>
</ul>
<br>
2015/10/25<br>
<ul>
	<li>German translation (thanks to B1T0)</li>
</ul>
<br>
2015/10/08<br>
<ul>
	<li>Dutch translation (thanks to Koen Punt)</li>
</ul>
<br>
2015/09/02<br>
<ul>
	<li>Signin with VKontakte</li>
</ul>
<br>
2015/08/28<br>
<ul>
	<li>Brazilian Portuguese translation (thanks to Victor Nogueira)</li>
</ul>
<br>
2015/08/15<br>
<ul>
	<li>Drop scripts for MySQL, Postgres and SQLite.</li>
</ul>
<br>
2015/08/14<br>
<ul>
	<li>Table colors! You can set table colors by right clicking a table header and selecting a color. To remove color from a table, click the white color. Thanks to Aamir Mahmood for the idea and the feedback.</li>
</ul>
<br>
2015/08/10<br>
<ul>
	<li>Clone table command: You can right click a table header and select "Clone Table" to quickly create a copy</li>
	<li>Catalan translation (thanks to Albert Pi)</li>
</ul>
<br>
2015/08/04<br>
<ul>
	<li>Localized dates and times</li>
</ul>
<br>
2015/08/03<br>
<ul>
	<li>Scroll by dragging an empty space</li>
</ul>
<br>
2015/08/01<br>
<ul>
	<li>Option to invert line directions</li>
</ul>
2015/07/20<br>
<ul>
	<li>Spanish translation (thanks to Juan Urbina (Heurze))</li>
</ul>
2015/07/12<br>
<ul>
	<li>Indonesian translation (thanks to Muhammad Sarip Hidayat)</li>
</ul>
2015/07/03<br>
<ul>
	<li>Vietnamese translation (thanks to Lê Công Hậu)</li>
</ul>
2015/06/24<br>
<ul>
	<li>Fixed SQL output for foreign keys. Now the "ALTER TABLE" statements are generated at the end of the SQL output.</li>
</ul>
<br>
2015/06/20<br>
<ul>
	<li>Bengali translation (thanks to Mohaiminul Hasan)</li>
</ul>
<br>
2015/06/14<br>
<ul>
	<li>Options to show icons for "not null" and "foreign key fields" and to show default values</li>
</ul>
<br>
2015/06/13<br>
<ul>
	<li>Experimental SQL importing for mysql. Please send your feedbacks using Help -> Feedback</li>
</ul>
<br>
2015/06/07<br>
<ul>
	<li>Turkish and Russian translations (thanks to Anton Machtakov) <br>If you want to help with the translations you can do so at <a href="https://github.com/DbDesigner/translations" target="_blank">https://github.com/DbDesigner/translations</a></li>
</ul>
<br>
2015/05/02<br>
<ul>
	<li>History panel</li>
</ul>
<br>
2015/04/27<br>
<ul>
	<li>Some performance improvements</li>
</ul>
<br>
2015/04/21<br>
<ul>
	<li>Fixed resetting note contents on save</li>
</ul>
<br>
2015/04/16<br>
<ul>
	<li>Download sql button for Chrome, Firefox and Opera</li>
	<li>Fixed remembering line type setting</li>
	<li>Password recovery page</li>
	<li>Save as option</li>
</ul>
<br>
2015/04/15<br>
<ul>
	<li>Fixed menubar positioning on IE and Firefox</li>
	<li>Fixed Meta+Enter on new field</li>
</ul>
<br>
2015/04/13<br>
<ul>
	<li>Fixed field order changing on save</li>
	<li>Undo &amp; redo option</li>
</ul>
<br>
2015/04/10<br>
<ul>
	<li>You can now share your schemas through the "Schema" -&gt; "Share" menu</li>
</ul>
<br>
2015/04/07<br>
<ul>
	<li>Signin with Twitter</li>
	<li>Template comments can be deleted</li>
</ul>
<br>
2015/04/05<br>
<ul>
	<li>Fixed minimap</li>
	<li>New notes and tables are added to a visible position</li>
</ul>
<br>
2015/04/04<br>
<ul>
	<li>Hold down shift while dragging for "snap to grid"</li>
</ul>
<br>
2015/04/03<br>
<ul>
	<li>Schemas can be deleted from the properties dialog</li>
</ul>
<br>
2015/04/02<br>
<ul>
	<li>Comments for templates</li>
</ul>
<br>
2015/03/31<br>
<ul>
	<li>Line colors can be changed from the options dialog</li>
</ul>
<br>
2015/03/29<br>
<ul>
	<li>Schemas can be saved as templates</li>
	<li>Alert notifications</li>
</ul>
<br>
2015/03/28<br>
<ul>
	<li>Signin with Github and Google accounts</li>
</ul>
<br>
2015/03/22<br>
<ul>
	<li>Fix for View -> Sort</li>
</ul>
<br>
2015/03/15<br>
<ul>
	<li>Public beta</li>
</ul>
