<h3>Help For DbDesigner.net BETA</h3>
<p class="help-content">
	This is the beta version of DbDesigner.<br>
	Please use the <span class="code">Help</span> &gt; <span class="code">Feedback</span> menu to submit a feedback. Alternatively you can also contact us at info@dbdesigner.net
</p>
<p class="help-content">
	Thank you for your patience
</p>
<p class="help-content">
	DbDesigner Team
</p>