<div class="horizontal-form">
	<div class="field">
		<label for="schema-title" class="control-label">{{t 'dialog.saveas_title'}}</label>
		<input type="text"
			   value="{{ title }}"
			   class="schema-title"
			   id="schema-title"
			   autofocus />
	</div>
	<div class="field topspace">
		<button class="btn save" default-button>{{t 'dialog.saveas_button'}}</button>
	</div>
</div>