<table class="shortcuts">
  <thead>
    <tr>
      <th class="filler-th">&nbsp;</th>
      <th>Main Shortcuts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class=shortcut><span>Ctrl + N</span></td>
      <td>New Schema</td>
    </tr>
    <tr>
      <td class=shortcut><span>Ctrl + S</span></td>
      <td>Save Schema</td>
    </tr>
    <tr>
      <td class=shortcut><span>Ctrl + L</span></td>
      <td>Load Schema</td>
    </tr>
    <tr>
      <td class=shortcut><span>Ctrl + I</span></td>
      <td>Import Schema</td>
    </tr>
    <tr>
      <td class=shortcut><span>Ctrl + Z</span></td>
      <td>Undo</td>
    </tr>
    <tr>
      <td class=shortcut><span>Ctrl + Y</span></td>
      <td>Redo</td>
    </tr>
    <tr>
      <td class=shortcut><span>Alt + T</span></td>
      <td>Insert new table</td>
    </tr>
    <tr>
      <td class=shortcut><span>Alt + N</span></td>
      <td>Insert new note</td>
    </tr>
    <tr>
      <td class=shortcut><span>Ctrl + E</span></td>
      <td>Export to sql</td>
    </tr>
    <tr>
      <td class=shortcut><span>?</span></td>
      <td>Show this dialog</td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th class="filler-th">&nbsp;</th>
      <th>Adding a new field</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class=shortcut><span>Enter</span></td>
      <td>Add field to table</td>
    </tr>
    <tr>
      <td class=shortcut><span>{{ meta_icon }} + Enter</span></td>
      <td>Add the field and keep the panel open for a new field</td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th class="filler-th">&nbsp;</th>
      <th>Editing a field</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class=shortcut><span>Enter</span></td>
      <td>Save field</td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th class="filler-th">&nbsp;</th>
      <th>Editing a note</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class=shortcut><span>Shift + Enter</span></td>
      <td>Save note</td>
    </tr>
  </tbody>
</table>