<% content_for :title do %>Password recovery | <% end %>
<div class="container content-container">
  <div class="row">
    <div class="col-sm-12">
      We have sent the password recovery instructions to your e-mail address. Please check your inbox.
    </div>
  </div>
</div>