<div class="comment">
	{{#own_comment}}
	<i class="icon-trash delete-comment" title="Delete comment"></i>
	{{/own_comment}}
	<img src="{{ avatar }}" class="avatar" width="24" height="24">
	<span class="commenter">{{ commenter }}</span><br>
	{{ contents }}
</div>