<label for="field-ref-table">{{t 'designer.field_ref_table'}}</label>
<select class="field-ref-table">
</select>
<br>
<label for="field-ref-fields">{{t 'designer.field_ref_field'}}</label>
<select class="field-ref-fields">
</select>
<br>