<span class="content">{{ content }}</span>
<textarea rows="10" cols="30"></textarea>
<div class="ops">
	<span class="save" data-lang-text="designer.save_note_edit">
		{{t 'designer.save_note_edit'}}
	</span>
	<span class="cancel" data-lang-text="designer.cancel_note_edit">
		{{t 'designer.cancel_note_edit'}}
	</span>
	<span class="delete" data-lang-text="designer.delete_note">
		{{t 'designer.delete_note'}}
	</span>
</div>