<li id="menu-item-insert-table">{{t 'menu.table'}}</li>
<li id="menu-item-insert-note">{{t 'menu.note'}}</li>
<li class="menu-separator">&nbsp;</li>
<li id="menu-item-view-sort">{{t 'menu.sort_items'}}</li>