<ul id="usermenu" class="menu" userselectable="on">
  <li class="has-dropdown">
    <span class="menu-item">
      <i class="icon-user-1"></i>
      <span class="toolbar-username">{{t 'menu.guest'}}</span>
    </span>
    <ul class="submenu">
      <li id="menu-item-user-login">{{t 'menu.login'}}</li>
    </ul>
  </li>
</ul>
