<li id="menu-item-delete-table">{{t 'designer.table_delete'}}</li>
<li class="menu-separator">&nbsp;</li>
<li id="menu-item-duplicate-table">{{t 'designer.table_clone'}}</li>
<li class="menu-separator">&nbsp;</li>
<li class="no-highlight">
	<div class="color-lines top-row">
		<span title="maroon" class="table-color table-color-maroon" data-color="#800040"></span>
		<span title="ocean" class="table-color table-color-ocean" data-color="#004080"></span>
		<span title="teal" class="table-color table-color-teal" data-color="#008080"></span>
		<span title="asparagus" class="table-color table-color-asparagus" data-color="#808000"></span>
		<span title="strawberry" class="table-color table-color-strawberry" data-color="#FF0080"></span>
		<span title="iron" class="table-color table-color-iron" data-color="#505050"></span>
	</div>
	<div class="color-lines bottom-row">
		<span title="red" class="table-color table-color-red" data-color="#cc3333"></span>
		<span title="blue" class="table-color table-color-blue" data-color="#1586D6"></span>
		<span title="green" class="table-color table-color-green" data-color="#008000"></span>
		<span title="orange" class="table-color table-color-orange" data-color="#ff8000"></span>
		<span title="purple" class="table-color table-color-purple" data-color="#7F007F"></span>
		<span title="reset" class="table-color table-color-reset"></span>
	</div>
</li>