<ul id="usermenu" class="menu" userselectable="on">
  <li class="has-dropdown">
    <span class="menu-item">
      <i class="icon-user"></i>
      <span class="toolbar-username">{{ username }}</span>
    </span>
    <ul class="submenu">
      <li id="menu-item-user-account-settings">{{t 'menu.settings'}}</li>
      <li class="menu-separator">&nbsp;</li>
      <li id="menu-item-user-logout">{{t 'menu.logout'}}</li>
    </ul>
  </li>
</ul>
