<% content_for :title do %>Privacy Policy - <% end %>
<div class="container content-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>Privacy Policy</h1>
      </div>

      <h2>Information Sharing</h2>
      <p>
        We do not sell, lease, or share your personal information with any third parties. We may disclose personal information if we have your consent or are required to do so in order to protect our rights, satisfy an applicable law, regulation, legal process, government request, or to protect our users from fraudulent or abusive use or our site or services.
      </p>
      <p>
        We do not sell or share any personal information or user data with advertisers.
      </p>

      <h2>Data Retention</h2>
      <p>We keep multiple backup copies of all personal information and client data so that we can recover from a system error or failure. Personal information or client data may still be stored in the backup copies even after it has become inactive or been deleted.</p>

      <h2>Changes</h2>
      <p>We will notify our users by E-mail about any significant changes to this privacy policy.</p>

      <h2>Questions</h2>
      <p>
        Please contact <a href="mailto:info@dbdesigner.net">info@dbdesigner.net</a> if you have any further questions.
      </p>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>