<% content_for :title do %>Translations - <% end %>
<div class="container content-container">
	<div class="row">
		<div class="col-sm-12">
			<div class="page-header">
				<h1>DbDesigner Translations</h1>
			</div>

			<p>
				DbDesigner.net is available in 19 Languages:
			</p>
			<br />

			<table class="table table-condensed table-hover">
				<tbody>
					<tr>
						<td class="shrink">1</td>
						<td class="shrink"><img src="/flags/bn.png" alt="Bengali" title="Bengali" /></td>
						<td>Bengali</td>
						<td><a target="_blank" href="https://github.com/MiniGunnR">Mohaiminul Hasan</a></td>
					</tr>
					<tr>
						<td>2</td>
						<td><img src="/flags/br.png" alt="Brazilian Portuguese" title="Brazilian Portuguese" /></td>
						<td>Brazilian Portuguese</td>
						<td><a target="_blank" href="https://github.com/felladrin">Victor Nogueira</a></td>
					</tr>
					<tr>
						<td>3</td>
						<td><img src="/flags/catalonia.png" alt="Catalan" title="Catalan" /></td>
						<td>Catalan</td>
						<td><a target="_blank" href="https://github.com/albertix314">Albert Pi</a></td>
					</tr>
					<tr>
						<td>4</td>
						<td><img src="/flags/cs.png" alt="Czech" title="Czech" /></td>
						<td>Czech</td>
						<td><a target="_blank" href="https://github.com/domi33">domi33</a></td>
					</tr>
					<tr>
						<td>5</td>
						<td><img src="/flags/dk.png" alt="Danish" title="Danish" /></td>
						<td>Danish</td>
						<td><a target="_blank" href="https://github.com/VisualBean">VisualBean</a></td>
					</tr>
					<tr>
						<td>6</td>
						<td><img src="/flags/nl.png" alt="Dutch" title="Dutch" /></td>
						<td>Dutch</td>
						<td><a target="_blank" href="https://github.com/koenpunt">Koen Punt</a></td>
					</tr>
					<tr>
						<td>7</td>
						<td><img src="/flags/gb.png" alt="English" title="English" /></td>
						<td>English</td>
						<td><a target="_blank" href="https://github.com/cenan">Cenan Özen</a></td>
					</tr>
					<tr>
						<td>8</td>
						<td><img src="/flags/de.png" alt="German" title="German" /></td>
						<td>German</td>
						<td><a target="_blank" href="https://github.com/B1T0">B1T0</a></td>
					</tr>
					<tr>
						<td>9</td>
						<td><img src="/flags/fi.png" alt="Finnish" title="Finnish" /></td>
						<td>Finnish</td>
						<td><a target="_blank" href="https://github.com/Unkulunkulu">Unkulunkulu</a></td>
					</tr>
					<tr>
						<td>10</td>
						<td><img src="/flags/fr.png" alt="French" title="French" /></td>
						<td>French</td>
						<td><a target="_blank" href="https://github.com/Tuxii">Pierre Deville</a></td>
					</tr>
					<tr>
						<td>11</td>
						<td><img src="/flags/gr.png" alt="Greek" title="Greek" /></td>
						<td>Greek</td>
						<td><a target="_blank" href="https://github.com/rNianios">Romanos Nianios</a></td>
					</tr>
					<tr>
						<td>12</td>
						<td><img src="/flags/id.png" alt="Indonesian" title="Indonesian" /></td>
						<td>Indonesian</td>
						<td><a target="_blank" href="https://facebook.com/musahi0128">Muhammad Sarip Hidayat</a></td>
					</tr>
					<tr>
						<td>13</td>
						<td><img src="/flags/it.png" alt="Italian" title="Italian" /></td>
						<td>Italian</td>
						<td><a target="_blank" href="https://github.com/ChristianGiupponi">Christian Giupponi</a></td>
					</tr>
					<tr>
						<td>14</td>
						<td><img src="/flags/ir.png" alt="Persian" title="Persian" /></td>
						<td>Persian</td>
						<td><a target="_blank" href="https://github.com/MiladNouri">MiladNouri</a></td>
					</tr>
					<tr>
						<td>15</td>
						<td><img src="/flags/pl.png" alt="Polish" title="Polish" /></td>
						<td>Polish</td>
						<td>Michał Szydłowski</td>
					</tr>
					<tr>
						<td>16</td>
						<td><img src="/flags/ru.png" alt="Russian" title="Russian" /></td>
						<td>Russian</td>
						<td><a target="_blank" href="https://github.com/antosha2">Anton Machtakov</a></td>
					</tr>
					<tr>
						<td>17</td>
						<td><img src="/flags/es.png" alt="Spanish" title="Spanish" /></td>
						<td>Spanish</td>
						<td><a target="_blank" href="https://github.com/heurze">Juan Urbina (Heurze)</a></td>
					</tr>
					<tr>
						<td>18</td>
						<td><img src="/flags/tr.png" alt="Turkish" title="Turkish" /></td>
						<td>Turkish</td>
						<td><a target="_blank" href="https://github.com/cenan">Cenan Özen</a></td>
					</tr>
					<tr>
						<td>19</td>
						<td><img src="/flags/vn.png" alt="Vietnamese" title="Vietnamese" /></td>
						<td>Vietnamese</td>
						<td><a target="_blank" href="https://github.com/haucongle">Lê Công Hậu</a></td>
					</tr>
				</tbody>
			</table>

			<br />
			<br />

			<p class="text-center"><a target="_blank" href="https://github.com/dbdesigner/translations" class="btn btn-lg btn-primary">Help translate DbDesigner to your language</a></p>

			<br />
			<br />
		</div>
	</div>
</div>