<img src="/dbdesigner_logo_grid.png" width="64" height="64" class="about-dialog-logo" alt="dbdesigner logo" />
<h3>dbdesigner.net</h3>
<br>
Cenan Özen<br>
<br>
<h3>Translators:</h3>
<a target="_blank" href="https://github.com/albertix314">Albert Pi</a> (Catalan)<br>
<a target="_blank" href="https://github.com/antosha2">Anton Machtakov</a> (Russian)<br>
<a target="_blank" href="https://github.com/haucongle">Lê Công Hậu</a> (Vietnamese)<br>
<a target="_blank" href="https://github.com/felladrin">Victor Nogueira</a> (Brazilian Portuguese)<br>
<a target="_blank" href="https://github.com/MiniGunnR">Mohaiminul Hasan</a> (Bengali)<br>
<a target="_blank" href="https://github.com/kingRayhan">King Rayhan</a> (Bengali)<br>
<a target="_blank" href="https://facebook.com/musahi0128">Muhammad Sarip Hidayat</a> (Indonesian)<br>
<a target="_blank" href="https://github.com/heurze">Juan Urbina (Heurze)</a> (Spanish)<br>
<a target="_blank" href="https://github.com/koenpunt">Koen Punt</a> (Dutch)<br>
<a target="_blank" href="https://github.com/B1T0">B1T0</a> (German)<br>
<a target="_blank" href="https://github.com/Unkulunkulu">Unkulunkulu</a> (Finnish)<br>
Michał Szydłowski (Polish)<br>
<a target="_blank" href="https://github.com/ChristianGiupponi">Christian Giupponi</a> (Italian)<br>
<a target="_blank" href="https://github.com/Tuxii">Pierre Deville</a> (French)<br>
<a target="_blank" href="https://github.com/MiladNouri">MiladNouri</a> (Persian)<br>
<a target="_blank" href="https://github.com/VisualBean">VisualBean</a> (Danish)<br>
<a target="_blank" href="https://github.com/domi33">domi33</a> (Czech)<br>
<a target="_blank" href="https://github.com/rNianios">Romanos Nianios</a> (Greek)<br>
<a target="_blank" href="https://github.com/RobinvanderVliet">Robin van der Vliet</a> (Esperanto)<br>
<a target="_blank" href="https://github.com/NicTorgersen">Nichlas Torgersen</a> (Norwegian)<br>
<a target="_blank" href="https://github.com/letehaha">Dmitry Sviridenko</a> (Ukrainian)<br>
<a target="_blank" href="https://github.com/robo-tommy">robo-tommy</a> (Japanese)<br>
<a target="_blank" href="https://github.com/crunchysoul">Chen Zhao</a> (Chinese)<br>
<a target="_blank" href="https://github.com/cenan">Cenan Özen</a> (Turkish &amp; English)<br>
<br>

<h3>Thanks to:</h3>
Monika Piątkowska<br>
<a target="_blank" href="https://github.com/ahmetkapikiran">Ahmet Kapıkıran</a><br>
<a target="_blank" href="https://www.linkedin.com/pub/muzaffer-tarim/49/3b9/2b1">Muzaffer Tarım</a><br>
<a target="_blank" href="https://twitter.com/xpiero">Jean Pierre Matteo</a><br>
<br>

<h3>Hosting:</h3>
<a target="_blank" href="https://www.digitalocean.com/?refcode=34f751e85284">DigitalOcean</a><br>
<br>

<h3>Icons:</h3>
<a target="_blank" href="http://www.famfamfam.com/lab/icons/silk/">FAMFAMFAM Silk</a><br>
<br>

<h3>Legal Stuff:</h3>
<a target="_blank" href="https://www.dbdesigner.net/terms-of-service">Terms of Service</a><br>
<a target="_blank" href="https://www.dbdesigner.net/privacy">Privacy Policy</a><br>
<br>

<h3>Social:</h3>
<a href="https://www.facebook.com/dbdesigner.net/" target="_blank">Facebook</a><br>
<a href="https://twitter.com/dbdsgnr" target="_blank">Twitter</a><br>
<a href="https://github.com/dbdesigner" target="_blank">Github</a><br>

<br>
<br>
=^.^=
