<div class="panel-header">
	<span class="panel-caption">Collaboration</span>
</div>
<div class="panel-body">
	<button class="btn enable-collaboration">
		<i class="icon-lightbulb connection-light"></i>
		<span>Enable Collaboration</span>
	</button>
</div>
