<div class="panel-header">
	<i class="icon-down-open"></i>
	<span class="panel-caption" data-lang-text="panel.comments">{{t 'panel.comments'}}</span>
</div>
<div class="panel-body">
	<div class="new-comment">
		<textarea rows="5" class="new-comment-content" placeholder="{{t 'panel.comment_placeholder'}}"></textarea>
		<button class="btn send-comment" data-lang-text="panel.send">{{t 'panel.send'}}</button>
	</div>
	<div class="comment-list">
	</div>
	<div class="comments-options">
		<button class="btn refresh"><i class="icon-spin3"></i> Refresh Comment List</button>
	</div>
</div>
